<p id="notice"><%= notice %></p>
<%= image_tag(@game.thumbnail) if @game.thumbnail.attached? %>
<p>
    <strong>Title:</strong>
    <%= @game.title %>
</p>

<p>
    <strong>Review:</strong>
    <%= @game.review %>
</p>

<p>
    <strong>Rating:</strong>
    <%= @game.rating %>
</p>
<h3>This Game Belongs To <%= pluralize(@game.genres.count, "Genre") %>:</h3>
<% @game.genres.each do |genre| %>
<p><%= link_to genre.name, games_path(genre: genre.name) %></p>
<% end %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>