<%= simple_form_for @product do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="container">
    <div class="row">
        <div class="form-group">
            <%= f.input :name, class:'form-control string required' %>
            <%= f.input :description, class:'form-control' %>
            <div class="form-check form-check-inline">
                <%= f.input :gluten_free, class:'form-control' %>
                <%= f.input :kosher, class:'form-control' %>
                <%= f.input :lactose_free, class:'form-control' %>
                <%= f.input :peanut_free, class:'form-control' %>
                <%= f.input :vegan, class:'form-control' %>
                <%= f.input :vegetarian, class:'form-control' %>
                <%= f.input :available, class:'form-control' %>
                <%= f.input :catering, class:'form-control' %>
                <%= f.input :featured, class:'form-control' %>
            </div>
            <%= f.button :submit, class:'btn btn-secondary' %>
        </div>
        <% end %>
    </div>
</div>