<!DOCTYPE html>
<html>

<head>
    <title>Gamereview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render 'layouts/navbar'%>
    <%= yield %>
</body>

</html>