<%= form_with(model: skill, local: true) do |form| %>
<% if skill.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

    <ul>
        <% skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
</div>

<div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
</div>

<div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>