<!DOCTYPE html>
<html>

<head>
    <title>RestaurantEpisode1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <% cache do %>
    <div class="<%= @page %>-page">
        <div class="row page-container">
            <%= render 'layouts/links'%>
            <div class="col-8">
                <% unless @page == "home"%>
                <%= render 'layouts/title'%>
                <% end %>
                <%= yield %>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <% end %>
</body>

</html>