<%= form_with(model: game, local: true) do |form| %>
<% if game.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

    <ul>
        <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div class="field">
    <%= form.label :review %>
    <%= form.rich_text_area :review %>
</div>

<div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
</div>

<div class="field">
    <%= form.label :genres %>
    <%= form.collection_select :genre_ids, @genres, :id, :name, {}, {multiple: true} %>
</div>

<div class="field">
    <%= form.label :thumbnail %>
    <%= form.file_field :thumbnail %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>