<div class="row">
    <% @cats.each do |cat| %>
    <% if cat.products.where(featured: true).first.image.attached? %>
    <%= image_tag(cat.products.where(featured: true).first.image, class:'img-fluid')%>
    <% end %>
    <div class="col-12">
        <h1 style="text-align:center;"><%= cat.heading %></h1>
        <hr />
    </div>
    <% @products.each do |product| %>
    <% if product.category == cat %>
    <div class="col-4">
        <h5>
            <%= product.name %>
        </h5>
        <p>
            <%= product.description%>
        </p>
        <span><%= product.price %> <%= "| Available for catering" if product.catering %></span>
        <%= form_with model: @order_item do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, value: 1, min: 1%>
        <%= f.submit "Add To Cart" %>
        <% end %>
    </div>
    <% end %>
    <% end %>
    <% end %>
</div>